body{
	background: #b8e994;

}
.abc h2{
	margin-top: 30px;
	text-align: center;
	padding: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #DB864A;
	text-transform: uppercase;;
}
.dev{
	margin-top: 60px;
}
.abc p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 200;
}